body {
    display: flex;
    flex-wrap: wrap;
    height: 94vh;
}

.container {
    position: relative;
    width: 50%;
    height: 50%;

    &.cat-green, &.cat-blue {
        transform: scaleX(-1);
    }

    .cat {
        width: 80%;
        bottom: 0;
        right: 0;
        position: absolute;

        @import 'common';
        @import 'idle';
        
        @import 'idle-to-press';
        @import 'press-to-idle';
        @import 'press';

        @import 'idle-to-say';
        @import 'say-to-idle';
        @import 'say';
    }

    .bowl {
        position: absolute;
        width: 20%;
        height: 20%;
        bottom: -5%;
        left: 15%;
    }
}