* {
    user-select: none;
}

body {
    background-image: url('/assets/images/background.png');
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    height: 94vh;
}

.cat-row {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .container {
        max-width: 400px;
        position: relative;
        width: 40%;
        height: 40%;

        &.cat-green, &.cat-blue {
            transform: scaleX(-1);
        }

        .cat {
            width: 80%;
            bottom: 0;
            right: 0;
            position: absolute;
            cursor: pointer;

            @import 'common';
            @import 'idle';
            
            @import 'idle-to-press';
            @import 'press-to-idle';
            @import 'press';

            @import 'idle-to-say';
            @import 'say-to-idle';
            @import 'say';
        }

        .bowl {
            position: absolute;
            width: 20%;
            height: 20%;
            min-width: 30px;
            min-height: 10px;
            bottom: 5%;
            left: 15%;
        }
    }
}

.actions-container {
    width: 100vw;
    height: 8vw;
    position: absolute;
    top: 40vh;
    margin-top: -4vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .action {
        margin: 0 50px;
        width: 10vw;
        height: 10vw;
        max-width: 100px;
        max-height: 80px;
        cursor: pointer;
        
        svg {
            max-height: 100%;
        }

        img {
            max-height: 70%;
        }

        &.restart {
            transform: rotateZ(115deg);

            img {
                max-height: 70%;
            }
        }

    }
    
    @import "guillotine";
}

.score-container {
    width: 14vw;
    position: absolute;
    top: 50vh;
    left: 50%;
    margin-left: -7vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;

    .fish-score {
        width: 60%;
        height: 60%;
        min-width: 40px;
    }

    #fish-score {
        stroke-width: 1;
        stroke: #232323;
        stroke-linecap: butt;
        stroke-dasharray: 0;
    }

    .separator {
        padding: 15%;
    }

    .score {
        font-size: 1.7rem;
    }
}

.modal {
    overflow: hidden;
    position: fixed;
    width: 70%;
    height: 300px;
    left: 15%;
    background-image: url('/assets/images/modal-background.png');
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 21px;
    border-radius: 8px;
    transition: height 1s;

    button {
        color: #e3e3e3;
        background-color: #343434;
        border: 1px solid #f2f2f2;
        border-radius: 4px;
        width: 200px;
        height: 50px;
        margin-top: 20px;
        cursor: pointer;

        &:hover {
            background-color: #454545;
            border: 1px solid #fcfcfc;
        }
    }

    &.hidden {
        height: 0%;
    }
}

.audio {
    border: 0px;
    width: 80px;
    height: 80px;
    margin-top: 20px;
    background-image: url('/assets/images/audio.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: all 1s;
    
    &.no-audio {
        background-image: url('/assets/images/no-audio.svg');
    }
}