body {
    display: flex;
    flex-wrap: wrap;
    height: 94vh;
}

.container {
    position: relative;
    width: 50%;
    height: 50%;
    
    &.cat-green, &.cat-blue {
        transform: scaleX(-1);
    }
    
    .cat {
        width: 80%;
        bottom: 0;
        right: 0;
        position: absolute;
        
        &.idle {
            .head, .necklace {
                transform-origin: center;
                animation: idle-bend-head 1.5s ease infinite;
                transform: rotateZ(-4deg) translateX(6px) translateY(54px);
            }

            .body {
                transform-origin: top;
                animation: idle-bend-upper-body 1.5s ease infinite;
                transform: rotateZ(-7deg) translateX(-20px);
            }
            
            .leg-front-left {
                transform-origin: center;
                animation: idle-bend-leg-front-left 1.5s ease infinite;
                transform: rotateZ(-43deg) translateX(26px) translateY(140px);
            }
            
            .leg-front-right {
                transform-origin: center;
                animation: idle-bend-leg-front-right 1.5s ease infinite;
                transform: rotateZ(-3deg);
            }
            
            .leg-back-left {
                transform-origin: center;
                animation: idle-bend-leg-back-left 1.5s ease infinite;
                transform: rotateZ(-3deg);
                
                .bottom {
                    transform-origin: center;
                    animation: idle-bend-leg-back-left-bottom 1.5s ease infinite;
                    transform: rotateZ(7deg);
                }
            }
            
            .leg-back-right {
                transform-origin: center;
                animation: idle-bend-leg-back-right 1.5s ease infinite;
                transform: rotateZ(-3deg);
            }
            
            .tail-top {
                transform-origin: center;
                animation: wiggle-tail 1.5s ease infinite;
            }
        }
        
        &.press {
            .cat {
                transform-origin: center;
                animation: move-forward 1.5s ease infinite;
            }
            .head, .necklace {
                transform-origin: center;
                animation: press-bend-head 1.5s ease infinite;
            }

            .body {
                transform-origin: center;
                animation: press-bend-upper-body 1.5s ease infinite;
            }
            
            .leg-front-left {
                transform-origin: center;
                animation: press-bend-leg-front-left 1.5s ease infinite;
            }
            
            .leg-front-right {
                transform-origin: center;
                animation: press-bend-leg-front-right 1.5s ease infinite;
            }
            
            .leg-back-left {
                transform-origin: center;
                animation: press-bend-leg-back-left 1.5s ease infinite;
                
                .bottom {
                    transform-origin: center;
                    animation: press-bend-leg-back-left-bottom 1.5s ease infinite;
                }
            }
            
            .leg-back-right {
                transform-origin: center;
                animation: press-bend-leg-back-right 1.5s ease infinite;
            }
            
            .tail-top {
                transform-origin: center;
                animation: wiggle-tail 1.5s ease infinite;
            }
        }

        &.say {
            .head, .necklace {
                transform-origin: center;
                animation: say-rotate-head 1.5s ease infinite;
            }
            
            .leg-front-left {
                transform-origin: center;
                animation: say-leg-front-left 1.5s ease infinite;
            }
            
            .tail-top {
                transform-origin: center;
                animation: wiggle-tail 1.5s ease infinite;
            }
        }
    }
    
    .bowl {
        position: absolute;
        width: 20%;
        height: 20%;
        bottom: -5%;
        left: 15%;
    }
}

/*****
Common
*****/
@keyframes wiggle-tail {
    50% { transform: rotate(20deg) translateX(10px) translateY(21px); }
}

/***
IDLE
***/
@keyframes idle-bend-upper-body {
    0% { transform: rotateZ(-7deg) translateX(-20px); };
    50% { transform: rotateZ(-6deg) translateX(-18px); };
    0% { transform: rotateZ(-7deg) translateX(-20px); };
}
@keyframes idle-bend-head {
    0% { transform: rotateZ(-4deg) translateX(6px) translateY(54px); };
    50% { transform: rotateZ(-3deg) translateX(4px) translateY(52px); };
    0% { transform: rotateZ(-4deg) translateX(6px) translateY(54px); };
}
@keyframes idle-bend-leg-front-left {
    0% { transform: rotateZ(-45deg) translateX(42px) translateY(115px); };
    50% { transform: rotateZ(-43deg) translateX(40px) translateY(113px); };
    100% { transform: rotateZ(-45deg) translateX(42px) translateY(115px); };
}
@keyframes idle-bend-leg-front-right {
    0% { transform: rotateZ(-3deg); };
    50% { transform: rotateZ(-2deg); };
    100% { transform: rotateZ(-3deg); };
}
@keyframes idle-bend-leg-back-left {
    0% { transform: rotateZ(-1deg); };
    50% { transform: rotateZ(-3deg); };
    100% { transform: rotateZ(-1deg); };
}
@keyframes idle-bend-leg-back-left-bottom {
    0% { transform: rotateZ(0deg); };
    50% { transform: rotateZ(4deg); };
    100% { transform: rotateZ(0deg); };
}
@keyframes idle-bend-leg-back-right {
    0% { transform: rotateZ(0deg); };
    50% { transform: rotateZ(4deg); };
    100% { transform: rotateZ(0deg); };
}

/**
Press
**/
@keyframes move-forward {
    50% { transform: translateX(-150px); };
}
@keyframes press-bend-upper-body {
    50% { transform: rotate(-15deg) translateY(70px); };
}
@keyframes press-bend-head {
    50% { transform: rotate(-15deg) translateX(-33px) translateY(195px); };
}
@keyframes press-bend-leg-front-left {
    50% { transform: rotate(5deg) translateX(80px) translateY(140px); };
}
@keyframes press-bend-leg-front-right {
    50% { transform: rotate(35deg) translateX(0px) translateY(0px); };
}
@keyframes press-bend-leg-back-left {
    50% { transform: rotate(-15deg) translateX(80px) translateY(90px); };
}
@keyframes press-bend-leg-back-left-bottom {
    50% { transform: rotate(35deg) translateX(-30px) translateY(-30px); };
}
@keyframes press-bend-leg-back-right {
    50% { transform: rotate(25deg) translateX(-20px) translateY(90px); };
}


/**
Say
**/
@keyframes say-leg-front-left {
    50% { transform: rotate(-45deg) translateX(56px) translateY(54px); }
    100% { transform: rotate(0deg) translateX(0px) translateY(0px); }
}

@keyframes say-rotate-head {
    50% { transform: rotate(-20deg) translateX(-25px) translateY(40px); }
    100% { transform: rotate(0deg) translateX(0px) translateY(0px); }
}