&.idle {
    .head, .necklace {
        transform-origin: center;
        animation: idle-bend-head 1.5s ease infinite;
    }

    .body {
        transform-origin: top;
        animation: idle-bend-upper-body 1.5s ease infinite;

    }
    
    .leg-front-left {
        transform-origin: center;
        animation: idle-bend-leg-front-left 1.5s ease infinite;
    }
    
    .leg-front-right {
        transform-origin: center;
        animation: idle-bend-leg-front-right 1.5s ease infinite;
    }
    
    .leg-back-left {
        transform-origin: center;
        animation: idle-bend-leg-back-left 1.5s ease infinite;
        
        .bottom {
            transform-origin: center;
            animation: idle-bend-leg-back-left-bottom 1.5s ease infinite;
        }
    }
    
    .leg-back-right {
        transform-origin: center;
        animation: idle-bend-leg-back-right 1.5s ease infinite;
    }
}

/********
Keyframes
********/
@keyframes idle-bend-upper-body {
    0% { transform: rotateZ(-7deg) translateX(-20px); };
    50% { transform: rotateZ(-6deg) translateX(-18px); };
    100% { transform: rotateZ(-7deg) translateX(-20px); };
}
@keyframes idle-bend-head {
    0% { transform: rotateZ(-4deg) translateX(38px) translateY(22px); }
    50% { transform: rotateZ(-5deg) translateX(32px) translateY(15px); }
    100% { transform: rotateZ(-4deg) translateX(38px) translateY(22px); }
}
@keyframes idle-bend-leg-front-left {
    0% { transform: rotateZ(-45deg) translateX(62px) translateY(-219px); };
    50% { transform: rotateZ(-43deg) translateX(60px) translateY(-211px); };
    100% { transform: rotateZ(-45deg) translateX(62px) translateY(-219px); };
}
@keyframes idle-bend-leg-front-right {
    0% { transform: rotateZ(-3deg); };
    50% { transform: rotateZ(-2deg); };
    100% { transform: rotateZ(-3deg); };
}
@keyframes idle-bend-leg-back-left {
    0% { transform: rotateZ(-1deg); };
    50% { transform: rotateZ(-3deg); };
    100% { transform: rotateZ(-1deg); };
}
@keyframes idle-bend-leg-back-left-bottom {
    0% { transform: rotateZ(0deg); };
    50% { transform: rotateZ(4deg) translateX(23px) translateY(-7px); };
    100% { transform: rotateZ(0deg); };
}
@keyframes idle-bend-leg-back-right {
    0% { transform: rotateZ(0deg); };
    50% { transform: rotateZ(4deg); };
    100% { transform: rotateZ(0deg); };
}