&.idle-to-press {
    .head, .necklace {
        transform-origin: center;
        animation: idle-to-press-head 0.5s ease;
        transform: rotateZ(-4deg) translateX(9px) translateY(57px);
    }

    .body {
        transform-origin: center;
        animation: idle-to-press-body 0.5s ease;
        transform: rotateZ(-7deg) translateX(5px);
    }
    
    .leg-front-left {
        transform-origin: center;
        animation: idle-to-press-leg-front-left 0.5s ease;
        transform: rotateZ(-43deg) translateX(48px) translateY(105px);
    }
    
    .leg-front-right {
        transform-origin: center;
        animation: idle-to-press-leg-front-right 0.5s ease;
        transform: rotateZ(-3deg);
    }
    
    .leg-back-left {
        transform-origin: center;
        animation: idle-to-press-leg-back-left 0.5s ease;
        transform: rotateZ(-3deg);
        
        .bottom {
            transform-origin: center;
            animation: idle-to-press-leg-back-left-bottom 0.5s ease;
            transform: rotateZ(7deg);
        }
    }
    
    .leg-back-right {
        transform-origin: center;
        animation: idle-to-press-leg-back-right 0.5s ease;
        transform: rotateZ(-3deg);
    }
}

/********
Keyframes
********/
@keyframes idle-to-press-body {
    0% { transform: rotateZ(-7deg) translateX(5px); };
    100% { transform: rotate(0deg) translateX(0px); };
}
@keyframes idle-to-press-head {
    0% { transform: rotateZ(-4deg) translateX(9px) translateY(57px); };
    100% { transform: rotate(0deg) translateX(0px) translateY(0px); };
}
@keyframes idle-to-press-leg-front-left {
    0% { transform: rotateZ(-45deg) translateX(48px) translateY(105px); };
    100% { transform: rotate(0deg) translateX(0px) translateY(0px); };
}
@keyframes idle-to-press-leg-front-right {
    0% { transform: rotateZ(-3deg); };
    100% { transform: rotate(0deg) translateX(0px) translateY(0px); };
}
@keyframes idle-to-press-leg-back-left {
    0% { transform: rotateZ(-1deg); };
    100% { transform: rotate(0deg) translateX(0px) translateY(0px); };
}
@keyframes idle-to-press-leg-back-left-bottom {
    0% { transform: rotateZ(0deg); };
    100% { transform: rotate(0deg) translateX(0px) translateY(0px); };
}
@keyframes idle-to-press-leg-back-right {
    0% { transform: rotateZ(0deg); };
    100% { transform: rotate(0deg) translateX(0px) translateY(0px); };
}