&.press {
    .catSVG {
        transform-origin: center;
        animation: move-forward 1.0s ease infinite;
    }
    .head, .necklace {
        transform-origin: center;
        animation: press-bend-head 1.0s ease infinite;
    }

    .body {
        transform-origin: top;
        animation: press-bend-upper-body 1.0s ease infinite;
    }
    
    .leg-front-left {
        transform-origin: center;
        animation: press-bend-leg-front-left 1.0s ease infinite;
    }
    
    .leg-front-right {
        transform-origin: center;
        animation: press-bend-leg-front-right 1.0s ease infinite;
    }
    
    .leg-back-left {
        transform-origin: center;
        animation: press-bend-leg-back-left 1.0s ease infinite;
        
        .bottom {
            transform-origin: center;
            animation: press-bend-leg-back-left-bottom 1.0s ease infinite;
        }
    }
    
    .leg-back-right {
        transform-origin: center;
        animation: press-bend-leg-back-right 1.0s ease infinite;
    }
}

/********
Keyframes
********/
@keyframes move-forward {
    50% { transform: translateX(-150px); };
}
@keyframes press-bend-upper-body {
    50% { transform: rotate(-15deg) translateX(-120px) translateY(70px); };
}
@keyframes press-bend-head {
    50% { transform: rotate(-15deg) translateX(7px) translateY(75px); };
}
@keyframes press-bend-leg-front-left {
    50% { transform: rotate(5deg) translateX(80px) translateY(140px); };
}
@keyframes press-bend-leg-front-right {
    50% { transform: rotate(35deg) translateX(130px) translateY(200px); };
}
@keyframes press-bend-leg-back-left {
    50% { transform: rotate(-15deg) translateX(10px) translateY(60px); };
}
@keyframes press-bend-leg-back-left-bottom {
    50% { transform: rotate(35deg) translateX(110px) translateY(-110px); };
}
@keyframes press-bend-leg-back-right {
    50% { transform: rotate(25deg) translateX(-20px) translateY(50px); };
}