&.press-to-idle {
    // .cat {
    //     transform-origin: center;
    //     animation: press-to-idle-move-backwards 1s ease;
    // }
    .head, .necklace {
        transform-origin: center;
        animation: press-to-idle-head 1s ease;
    }

    .body {
        transform-origin: top;
        animation: press-to-idle-body 1s ease;
    }
    
    .leg-front-left {
        transform-origin: center;
        animation: press-to-idle-leg-front-left 1s ease;
    }
    
    .leg-front-right {
        transform-origin: center;
        animation: press-to-idle-leg-front-right 1s ease;
    }
    
    .leg-back-left {
        transform-origin: center;
        animation: press-to-idle-leg-back-left 1s ease;
        
        .bottom {
            transform-origin: center;
            animation: press-to-idle-leg-back-left-bottom 1s ease;
        }
    }
    
    .leg-back-right {
        transform-origin: center;
        animation: press-to-idle-leg-back-right 1s ease;
    }
}

/********
Keyframes
********/
@keyframes press-to-idle-body {
    0% { transform: rotate(-15deg) translateX(-120px) translateY(70px); };
    100% { transform: rotateZ(-7deg) translateX(-20px); };
}
@keyframes press-to-idle-head {
    0% { transform: rotate(-15deg) translateX(7px) translateY(75px); };
    100% { transform: rotateZ(-4deg) translateX(38px) translateY(22px); };
}
@keyframes press-to-idle-leg-front-left {
    0% { transform: rotate(5deg) translateX(80px) translateY(140px); };
    100% { transform: rotateZ(-45deg) translateX(62px) translateY(-219px); };
}
@keyframes press-to-idle-leg-front-right {
    0% { transform: rotate(35deg) translateX(130px) translateY(200px); };
    100% { transform: rotateZ(-3deg) translateX(0px) translateY(0px); };
}
@keyframes press-to-idle-leg-back-left {
    0% { transform: rotate(-15deg) translateX(10px) translateY(60px); };
    100% { transform: rotateZ(-1deg) translateX(0px) translateY(0px); };
}
@keyframes press-to-idle-leg-back-left-bottom {
    0% { transform: rotate(35deg) translateX(110px) translateY(-110px); };
    100% { transform: rotateZ(0deg) translateX(0px) translateY(0px); };
}
@keyframes press-to-idle-leg-back-right {
    0% { transform: rotate(25deg) translateX(-20px) translateY(50px); };
    100% { transform: rotateZ(0deg) transalteX(0px) translateY(0px); };
}