&.say-to-idle {
    .head, .necklace {
        transform-origin: center;
        animation: say-to-idle-head 0.5s ease;
    }
    
    .body {
        transform-origin: top;
        animation: say-to-idle-body 0.5s ease ;
    }

    .leg-front-left {
        transform-origin: center;
        animation: say-to-idle-leg-front-left 0.5s ease;
    }

    .leg-front-right {
        transform-origin: center;
        animation: say-to-idle-leg-front-right 0.5s ease;
    }
}

/********
Keyframes
********/
@keyframes say-to-idle-head {
    0% { transform: rotate(0deg) translateX(0px) translateY(2px); }
    100% { transform: rotateZ(-4deg) translateX(38px) translateY(22px); };
}
@keyframes say-to-idle-body {
    0% { transform: rotateZ(0deg) translateX(0px); };
    100% { transform: rotateZ(-7deg) translateX(-20px); };
}
@keyframes say-to-idle-leg-front-left {
    0% { transform: rotate(0deg) translateX(7px) translateY(4px); }
    100% { transform: rotateZ(-45deg) translateX(62px) translateY(-219px); };
}
@keyframes say-to-idle-leg-front-right {
    0% { transform: rotateZ(-3deg) translateY(-15px); }
    100% { transform: rotateZ(-3deg) translateY(0px); };
}