&.say {
    .head, .necklace {
        animation: say-rotate-head 1.0s ease infinite;
    }

    .body {
        transform-origin: top;
        transform: rotateZ(0deg) translateX(0px);
    }
    
    .leg-front-left {
        transform-origin: center;
        animation: say-leg-front-left 1.0s ease infinite;
    }

    .leg-front-right {
        transform-origin: center;
        transform: rotateZ(-3deg) translateY(-15px);
    }
}

/********
Keyframes
********/
@keyframes say-rotate-head {
    0% { transform: rotate(0deg) translateX(0px) translateY(2px); }
    50% { transform: rotate(-10deg) translateX(-60px) translateY(65px); }
    100% { transform: rotate(0deg) translateX(0px) translateY(2px); }
}

@keyframes say-leg-front-left {
    0% { transform: rotate(0deg) translateX(7px) translateY(4px); }
    50% { transform: rotate(-30deg) translateX(27px) translateY(-170px); }
    100% { transform: rotate(0deg) translateX(7px) translateY(4px); }
}