&.say {
    .head, .necklace {
        transform-origin: center;
        animation: say-rotate-head 1.0s ease infinite;
    }
    
    .leg-front-left {
        transform-origin: center;
        animation: say-leg-front-left 1.0s ease infinite;
    }
}

/********
Keyframes
********/
@keyframes say-leg-front-left {
    50% { transform: rotate(-45deg) translateX(56px) translateY(54px); }
    100% { transform: rotate(0deg) translateX(0px) translateY(0px); }
}

@keyframes say-rotate-head {
    50% { transform: rotate(-20deg) translateX(-25px) translateY(40px); }
    100% { transform: rotate(0deg) translateX(0px) translateY(0px); }
}